<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        {{! Mobile menu button}}
        <button
          type="button"
          class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false"
          {{on "click" this.toggleMobileMenu}}
        >
        {{#if this.isMobileMenuClosed}}
          {{! Icon when menu is open.}}
          {{!-- Heroicon name: outline/x-mark --}}
            <span class="sr-only">Open main menu</span>
            <svg
              class="block h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              ></path>
            </svg>
          {{else}}
            <svg
              class="block h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              ></path>
            </svg>
          {{/if}}
        </button>
      </div>
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex flex-shrink-0 items-center">
          <img
            class="block h-8 w-auto lg:hidden"
            src="/assets/images/a-logo.svg"
            alt=""
            role="presentation"
          />
          <img
            class="hidden h-8 w-auto lg:block"
            src="/assets/images/a-logo.svg"
            alt=""
            role="presentation"
          />
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            {{! Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" }}
            <LinkTo
              @route="application"
              class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
            >Home</LinkTo>

            <LinkTo
              @route="violations"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >Potential Violations</LinkTo>

            <LinkTo
              @route="automated-tools"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >Tools</LinkTo>

            <a
              href="https://github.com/MelSumner/a11y-automation"
              rel="external"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >GitHub Repo</a>
          </div>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <button
          type="button"
          {{on "click" this.onChangeTheme}}
          class="rounded-md bg-white p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 py-2 px-3"
          aria-label="toggle light/dark mode"
        >
          {{#if this.isDarkTheme}}
            <img
              src="/assets/images/light-theme.svg"
              alt=""
              role="presentation"
              height="20"
              width="20"
              class="shrink-0"
            />
          {{else}}
            <img
              src="/assets/images/dark-theme.svg"
              alt=""
              role="presentation"
              height="20"
              width="20"
              class="shrink-0"
            />
          {{/if}}
        </button>
      </div>
    </div>
  </div>

  {{! Mobile menu, show/hide based on menu state. }}
  <div class={{if this.isMobileMenuClosed "hidden" "block"}} id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      {{! Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" }}
      <LinkTo
        @route="application"
        class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
      >Home</LinkTo>

      <LinkTo
        @route="violations"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
      >Potential Violations</LinkTo>

      <LinkTo
        @route="automated-tools"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
      >Automated Tools</LinkTo>

      <a
        href="https://github.com/MelSumner/a11y-automation"
        rel="external"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
      >GitHub Repo</a>
    </div>
  </div>
</nav>