<table class="sortable-table min-w-full divide-y divide-gray-200">
  <thead class="bg-gray-50">
    <tr>
      <SortableTableHeader
        @field="title"
        @sortOrder={{@sortOrder}}
        @sortBy={{@sortBy}}
        @setSortBy={{this.setSortBy}}
      >
        Failure
      </SortableTableHeader>
      <SortableTableHeader
        @field="linting"
        @sortOrder={{@sortOrder}}
        @sortBy={{@sortBy}}
        @setSortBy={{this.setSortBy}}
      >
        Linting Status
      </SortableTableHeader>
      <SortableTableHeader
        @field="testing"
        @sortOrder={{@sortOrder}}
        @sortBy={{@sortBy}}
        @setSortBy={{this.setSortBy}}
      >
        Testing Status
      </SortableTableHeader>
      <SortableTableHeader
        @field="manual"
        @sortOrder={{@sortOrder}}
        @sortBy={{@sortBy}}
        @setSortBy={{this.setSortBy}}
      >
        Manual Testing Status
      </SortableTableHeader>
      <SortableTableHeader
        @field="webAimLevel"
        @sortOrder={{@sortOrder}}
        @sortBy={{@sortBy}}
        @setSortBy={{this.setSortBy}}
      >
        Level
      </SortableTableHeader>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    {{#each (sort-by this.sort @model) as |cellitem|}}
      <tr>
        <td
          class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-900"
        >
          <LinkTo
            @route="violations.violation"
            @model={{cellitem.id}}
            class="underline"
          >
            {{cellitem.title}}
          </LinkTo>
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
          <span class="status status-{{cellitem.linting}}">
            {{cellitem.lintingText}}
          </span>
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
          <span class="status status-{{cellitem.testing}}">
            {{cellitem.testingText}}
          </span>
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
          <span class="status status-{{cellitem.manual}}">
            {{cellitem.manualText}}
          </span>
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
          <span class="status level-{{cellitem.webAimLevel}}">
            {{cellitem.webAimLevel}}
          </span>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<div id="a11y-notification" class="sr-only" role="region" aria-live="polite"></div>