<th
  scope="col"
  class="sortable text-left"
  aria-sort={{if (eq @field @sortBy) (concat @sortOrder 'ending')}}
>
  <button class="sort-toggle dark:text-white" type="button" {{on "click" (fn @setSortBy @field)}}>
    <span class="col-heading m-2">{{yield}}</span>
    <div class="sort-arrow" aria-hidden="true">
      {{#if (and (eq @field @sortBy) (eq @sortOrder "asc"))}}
        <svg focusable="false" aria-hidden="true" class="icon-sort-filled icon-sort-asc" width="100%" height="100%" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
          <path fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" d="M3,9.988c-0.543,-0.007 -0.988,-0.456 -0.988,-1c0,-0.259 0.101,-0.509 0.281,-0.695l4,-4c0.388,-0.388 1.026,-0.388 1.414,-0l4,4c0.388,0.388 0.388,1.026 -0,1.414c-0.23,0.23 -0.548,0.324 -0.85,0.281l-7.857,-0l0,-0Z"/>
        </svg>
      {{else}}
        <svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="icon-sort-open icon-sort-asc" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd" />
        </svg>
      {{/if}}

      {{#if (and (eq @field @sortBy) (eq @sortOrder "desc"))}}
        <svg focusable="false" aria-hidden="true" class="icon-sort-filled icon-sort-desc" width="100%" height="100%" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
          <path fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" d="M3,4.012c-0.543,0.007 -0.988,0.456 -0.988,1c0,0.259 0.101,0.509 0.281,0.695l4,4c0.388,0.388 1.026,0.388 1.414,-0l4,-4c0.388,-0.388 0.388,-1.026 -0,-1.414c-0.23,-0.23 -0.548,-0.324 -0.85,-0.281l-7.857,0l0,0Z"/>
        </svg>
      {{else}}
        <svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="icon-sort-open icon-sort-desc sort-icon-bottom" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      {{/if}}

    </div>
  </button>
</th>