<div>
  <AaNavbar />
  <header class="bg-white shadow-sm">
    <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
      <h1>
        Potential A11y Violation:
        <br/>{{@model.title}}
      </h1>
    </div>
  </header>
  <main class="min-h-screen">
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <div
        class="bg-white overflow-hidden shadow rounded-lg divide-y divide-gray-200"
      >
        <div class="px-4 py-5 sm:px-6">
          <ul class="list-status">
            <li class="list-status-item">
              <span class="status-badge status-{{@model.linting}}">
                  Linting {{@model.lintingText}}
              </span>
            </li>
            <li class="list-status-item">
              <span class="status-badge status-{{@model.testing}}">
                Testing {{@model.testingText}}
              </span>
            </li>
          </ul>
        </div>
        <article class="px-4 py-5 sm:p-6 article">
            {{{@model.html}}}
        </article>
        <div class="px-4 py-4 sm:px-6">
            <h3 id="list-criteria-title">
              Relevant Link(s) (external):
            </h3>
            <ul class="list-tags" aria-labelledby="list-criteria-title">
              {{#each @model.tags as |tagitem|}}
                <li class="px-4 py-4">
                  {{#if tagitem.url}}
                    <a href={{tagitem.url}} class="underline text-indigo-800 p-3 rounded-lg hover:text-indigo-800 hover:bg-gray-300 focus:border-indigo-700 focus:border-4 focus:border-dashed">
                      {{tagitem.title}}
                    </a>
                  {{else}}
                    {{tagitem.title}}
                  {{/if}}
                </li>
              {{else}}
                <li class="bg-white shadow overflow-hidden rounded-md px-6 py-4">
                  No relevant criterion found.
                </li>
              {{/each}}
            </ul>
        </div>
      </div>
    </div>
  </main>
</div>