<h2 id="detail-title">{{@model.title}}</h2>
<p id="automation-status-title">Automation Status:</p>
<ul class="list-status" aria-labelledby="automation-status-title">
  <li class="list-status-item">
    <div class="status-badge">
      <span class="status-label">Linting</span>
      <span class="status-message status-{{@model.linting}}">{{@model.lintingText}}</span>
    </div>
  </li>
  <li class="list-status-item">
    <div class="status-badge">
      <span class="status-label">Testing</span>
      <span class="status-message status-{{@model.testing}}">{{@model.testingText}}</span>
    </div>
  </li>
  <li class="list-status-item">
    <div class="status-badge">
      <span class="status-label">Author</span>
      <span class="status-message status-{{@model.author}}">{{@model.authorText}}</span>
    </div>
  </li>
  <li class="list-status-item">
    <div class="status-badge">
      <span class="status-label">Manual</span>
      <span class="status-message status-{{@model.manual}}">{{@model.manualText}}</span>
    </div>
  </li>
</ul>
<hr>
<article aria-labelledby="detail-title">
  {{{@model.html}}}

  <div class="footer">
    <p id="list-criteria-title">Relevant Criteria:</p>
    <ul class="list-tags" aria-labelledby="list-criteria-title">
      {{#each @model.tags as |tagitem| }}
        <li>
          {{#if tagitem.url }}
            <a href={{tagitem.url}}>{{tagitem.title}}</a>
          {{else}}
            {{tagitem.title}}
          {{/if}}
        </li>
      {{else}}
        <li>No relevant criterion found.</li>
      {{/each}}
    </ul>
  </div>
</article>
{{outlet}}
