<h2 id="detail-title">{{@model.title}}</h2>
<ul class="status-list">
  <li class="status-listitem">Linting:
    {{#if (eq @model.linting "exists")}}
      <span class="status-exists">Exists</span>
    {{else if (eq @model.linting "couldexist")}}
      <span class="status-couldexist">Could Exist</span>
    {{else}}
      <span class="status-cannotexist">Cannot Exist</span>
    {{/if}}
  </li>
  <li class="status-listitem">Testing:
    {{#if (eq @model.testing "exists")}}
      <span class="status-exists">Exists</span>
    {{else if (eq @model.testing "couldexist")}}
      <span class="status-couldexist">Could Exist</span>
    {{else}}
      <span class="status-cannotexist">Cannot Exist</span>
    {{/if}}
  </li>
  <li class="status-listitem">Author: 
    {{#if (eq @model.author "exists")}}
      <span class="status-exists">Exists</span>
    {{else if (eq @model.author "couldexist")}}
      <span class="status-couldexist">Could Exist</span>
    {{else}}
      <span class="status-cannotexist">Cannot Exist</span>
    {{/if}}
  </li>
  <li class="status-listitem">Manual:
    {{#if (eq @model.manual "exists")}}
      <span class="status-exists">Exists</span>
    {{else if (eq @model.manual "couldexist")}}
      <span class="status-couldexist">Could Exist</span>
    {{else if (eq @model.manual "cannotexist")}}
      <span class="status-cannotexist">Cannot Exist</span>
    {{else}}
      <span class="status-mustexist">Must Exist</span>
    {{/if}}
  </li>
</ul>
<article aria-labelledby="detail-title">
  {{{@model.html}}}
</article>
{{outlet}}
