<table>
  <thead>
    <tr>
      <th>Failure</th>
      <th>Linting Status</th>
      <th>Testing Status</th>
      <th>Manual Testing Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each @model as |cellitem| }}
      <tr>
        <td><LinkTo @route="details.detail" @model={{cellitem.id}}>{{cellitem.title}}</LinkTo></td>
        <td class="status-{{cellitem.linting}}-background">{{cellitem.lintingText}}</td>
        <td class="status-{{cellitem.testing}}-background">{{cellitem.testingText}}</td>
        <td class="status-{{cellitem.manual}}-background">{{cellitem.manualText}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{outlet}}