<header>
  <h1><a href="/">A11y Automation Tracker</a></h1>
  <AaNavbar />
</header>
<main>
  {{outlet}}
</main>
<aside>
  <div id="detail-list-switcher" aria-label="Potential Failures Menu Switcher" onclick="document.querySelector('aside').classList.toggle('active')"></div>
  <p id="detail-list-title">Potential Failures ({{@model.length}})
  </p>
  <ul aria-labelledby="detail-list-title" class="detail-list">
  {{#each sortedDetails as |listitem| }}
    <li><LinkTo @route="details.detail" @model={{listitem.id}}>{{listitem.title}}</LinkTo></li>
  {{else}}
    <li>Sorry, something went wrong.</li>
  {{/each}}
  </ul>
</aside>
<footer>
  <p><small>See an issue on this page? <a href="https://github.com/MelSumner/a11y-automation">Please file an issue in this app's GitHub repository.</a> Thank you!</small></p>
</footer>
