
  <AaNav />
  <header class="bg-white dark:bg-gray-800 shadow-sm">
      <h1 class="measure-h1 max-w-6xl mx-auto py-6 sm:px-14 lg:px-16">
        Automated A11y Tools
      </h1>
  </header>
  <main id="main">
    <div class="max-w-6xl mx-auto py-6 sm:px-14 lg:px-16">
      <div class="flex flex-col sm:-mx-6 lg:-mx-8 p-8 min-w-full shadow bg-gray-50 border-b border-gray-200 dark:bg-gray-800 dark:text-gray-50 sm:rounded-lg min-h-screen h-fit">
        <article>
          <p>These are some of the automated tools available, no endorsement implied. If you know of one that exists but is not listed here, please <a href="https://github.com/MelSumner/a11y-automation/issues/new" rel="external">file an issue</a> and let us know!</p>
          <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
            {{#each @model as |tool|}}
            <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200 flex flex-col justify-between">
              <div class="grow shrink-0 w-full flex flex-row flex-wrap p-6">
                <a href={{tool.link}} class="w-full items-center justify-center py-2 text-sm font-medium border border-transparent text-indigo-700 visited:text-purple-800 hover:text-indigo-800 underline">{{tool.title}}</a>
                <p class="mt-1 mb-2 text-gray-500 text-sm w-full">{{tool.description}}</p>
              </div>
              <div class="grow-0 w-full flex flex-row justify-end divide-x divide-gray-200 py-4 px-2 place-self-end self-end h-fit">
                <div class="px-2 py-2 border border-green-800 text-green-800 text-xs font-medium bg-green-100 rounded-full place-self-end">{{tool.category}}</div>
              </div>
            </li>
          {{/each}}
          </ul>

        </article>
      </div>
    </div>
  </main>


{{outlet}}