<h2 id="criteria-title">{{this.model.title}}</h2>
<ul>
  <li>{{this.model.lintingExists}}</li>
  <li>{{this.model.testingExists}}</li>
  <li>{{this.model.devMustAuthor}}</li>
  <li>{{this.model.manualTest}}</li>
</ul>
<article aria-labelledby="criteria-title">
  stuff here

</article>