<h2 id="criteria-title">{{this.model.title}}</h2>
<ul>
  <li>Automated Linting Status: {{this.model.lintingExists}}</li>
  <li>Automated Testing Status: {{this.model.testingExists}}</li>
  <li>Author Testing Status: {{this.model.devMustAuthor}}</li>
  <li>Manual Testing Status: {{this.model.manualTest}}</li>
</ul>
<article aria-labelledby="criteria-title">
  {{this.model.content}}
</article>