<div class="min-h-screen">
  <div class="relative overflow-hidden">
    <header class="relative">
      <div class="bg-gray-900 pt-6">
        <AaNavbar />
      </div>
    </header>
    <main id="main">
      <div
        class="pt-10 bg-gray-900 sm:pt-16 lg:pt-8 lg:pb-14 lg:overflow-hidden"
      >
        <div class="mx-auto max-w-7xl lg:px-8">
          <div class="lg:grid lg:grid-cols-2 lg:gap-8">
            <div
              class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:px-0 lg:text-left lg:flex lg:items-center"
            >
              <div class="lg:py-24">
                <h1
                  class="mt-4 text-4xl tracking-tight font-extrabold text-white sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl"
                >
                  <span class="block">
                    A11y Automation
                  </span>
                  <span class="block text-indigo-400 dark:text-yellow-400">
                    Tracker
                  </span>
                </h1>
                <p
                  class="mt-3 text-base text-gray-300 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl"
                >
                  A more thorough way to track the potential accessibility violations and the automated linters and tests currently available.
                </p>
                <div class="mt-10 sm:mt-12"></div>
              </div>
            </div>
            <div class="mt-12 -mb-16 sm:-mb-48 lg:m-0 lg:relative">
              <div
                class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:max-w-none lg:px-0"
              >
                <img
                  class="w-full lg:absolute lg:inset-y-0 lg:left-0 lg:h-full lg:w-auto lg:max-w-none"
                  src="/assets/images/robot-automation.png"
                  alt=""
                  role="presentation"
                  width="744"
                  height="488"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="relative bg-white dark:bg-gray-700 py-16 sm:py-24 lg:py-32">
        <div
          class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl"
        >
          <h2
            class="text-base font-semibold tracking-wider text-indigo-800 uppercase dark:text-yellow-400"
          >
            Accessibility Automation
          </h2>
          <p
            class="mt-2 text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl dark:text-yellow-100"
          >
            Catch potential a11y violations faster.
          </p>
          <p class="mt-5 max-w-prose mx-auto text-xl text-gray-700 dark:text-white">
            It can be hard to keep track of the potential accessibility violations in your code. More automation is being created for linting rules and tests-- and now there is a single site to track the automation available to developers.
          </p>
          <div class="mt-12">
            <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
              <Index::Card>
                <:icon>{{svg-jar "icon-developers"}}</:icon>
                <:title>Developers</:title>
                <:description>Educate yourself about the ways your apps could fail accessibility conformance criteria, and see what a11y automation is available for your linting and testing workflows.</:description>
              </Index::Card>
              <Index::Card>
                <:icon>{{svg-jar "tooling-engineers"}}</:icon>
                <:title>Tooling Engineers</:title>
                <:description>Identify potential linting or testing rules that could be written...and write them.</:description>
              </Index::Card>
              <Index::Card>
                <:icon>{{svg-jar "business-managers"}}</:icon>
                <:title>Business Managers</:title>
                <:description>Keep track of what automation is available to help your developers make accessible products. Rationalize budgets for manual testing.</:description>
              </Index::Card>
              <Index::Card>
                <:icon>{{svg-jar "a11y-auditors"}}</:icon>
                <:title>A11y Auditors</:title>
                <:description>Use the potential violations listed here to help inform your checklists.</:description>
              </Index::Card>
              <Index::Card>
                <:icon>{{svg-jar "browser-vendors"}}</:icon>
                <:title>Browser Vendors</:title>
                <:description>Use the list of potential violations to find ways to improve accessibility support in your browser code.</:description>
              </Index::Card>
              <Index::Card>
                <:icon>{{svg-jar "designers"}}</:icon>
                <:title>Designers</:title>
                <:description>Design inclusive products by knowing the pitfalls to avoid.</:description>
              </Index::Card>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>